[CTM13]
fastq1: ./FastQs/CTM13_L001_R1_001.fastq.gz
fastq2: ./FastQs/CTM13_L001_R2_001.fastq.gz
bam: ./FinalBAMs/CTM13.recalibrated.sorted.bam
mutect: ./MuTect/CTM13.mutect.vcf
scalpel: ./Scalpel/CTM13.scalpel.vcf
freebayes: ./FreeBayes/CTM13.freebayes.vcf
vardict: ./VarDict/CTM13.vardict.vcf
db: ./GEMINI/CTM13.snpEff.GRCh37.75.db

[CTM16]
fastq1: ./FastQs/CTM16_L001_R1_001.fastq.gz
fastq2: ./FastQs/CTM16_L001_R2_001.fastq.gz
bam: ./FinalBAMs/CTM16.recalibrated.sorted.bam
mutect: ./MuTect/CTM16.mutect.vcf
scalpel: ./Scalpel/CTM16.scalpel.vcf
freebayes: ./FreeBayes/CTM16.freebayes.vcf
vardict: ./VarDict/CTM16.vardict.vcf
db: ./GEMINI/CTM16.snpEff.GRCh37.75.db

[CTM27]
fastq1: ./FastQs/CTM27_L001_R1_001.fastq.gz
fastq2: ./FastQs/CTM27_L001_R2_001.fastq.gz
bam: ./FinalBAMs/CTM27.recalibrated.sorted.bam
mutect: ./MuTect/CTM27.mutect.vcf
scalpel: ./Scalpel/CTM27.scalpel.vcf
freebayes: ./FreeBayes/CTM27.freebayes.vcf
vardict: ./VarDict/CTM27.vardict.vcf
db: ./GEMINI/CTM27.snpEff.GRCh37.75.db

[CTM28]
fastq1: ./FastQs/CTM28_L001_R1_001.fastq.gz
fastq2: ./FastQs/CTM28_L001_R2_001.fastq.gz
bam: ./FinalBAMs/CTM28.recalibrated.sorted.bam
mutect: ./MuTect/CTM28.mutect.vcf
scalpel: ./Scalpel/CTM28.scalpel.vcf
freebayes: ./FreeBayes/CTM28.freebayes.vcf
vardict: ./VarDict/CTM28.vardict.vcf
db: ./GEMINI/CTM28.snpEff.GRCh37.75.db

[CTM29]
fastq1: ./FastQs/CTM29_L001_R1_001.fastq.gz
fastq2: ./FastQs/CTM29_L001_R2_001.fastq.gz
bam: ./FinalBAMs/CTM29.recalibrated.sorted.bam
mutect: ./MuTect/CTM29.mutect.vcf
scalpel: ./Scalpel/CTM29.scalpel.vcf
freebayes: ./FreeBayes/CTM29.freebayes.vcf
vardict: ./VarDict/CTM29.vardict.vcf
db: ./GEMINI/CTM29.snpEff.GRCh37.75.db

[CTM30]
fastq1: ./FastQs/CTM30_L001_R1_001.fastq.gz
fastq2: ./FastQs/CTM30_L001_R2_001.fastq.gz
bam: ./FinalBAMs/CTM30.recalibrated.sorted.bam
mutect: ./MuTect/CTM30.mutect.vcf
scalpel: ./Scalpel/CTM30.scalpel.vcf
freebayes: ./FreeBayes/CTM30.freebayes.vcf
vardict: ./VarDict/CTM30.vardict.vcf
db: ./GEMINI/CTM30.snpEff.GRCh37.75.db

[CTM31]
fastq1: ./FastQs/CTM31_L001_R1_001.fastq.gz
fastq2: ./FastQs/CTM31_L001_R2_001.fastq.gz
bam: ./FinalBAMs/CTM31.recalibrated.sorted.bam
mutect: ./MuTect/CTM31.mutect.vcf
scalpel: ./Scalpel/CTM31.scalpel.vcf
freebayes: ./FreeBayes/CTM31.freebayes.vcf
vardict: ./VarDict/CTM31.vardict.vcf
db: ./GEMINI/CTM31.snpEff.GRCh37.75.db

[CTM7]
fastq1: ./FastQs/CTM7_L001_R1_001.fastq.gz
fastq2: ./FastQs/CTM7_L001_R2_001.fastq.gz
bam: ./FinalBAMs/CTM7.recalibrated.sorted.bam
mutect: ./MuTect/CTM7.mutect.vcf
scalpel: ./Scalpel/CTM7.scalpel.vcf
freebayes: ./FreeBayes/CTM7.freebayes.vcf
vardict: ./VarDict/CTM7.vardict.vcf
db: ./GEMINI/CTM7.snpEff.GRCh37.75.db

[TM10_S8]
fastq1: ./FastQs/TM10_S8_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM10_S8_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM10_S8.recalibrated.sorted.bam
mutect: ./MuTect/TM10_S8.mutect.vcf
scalpel: ./Scalpel/TM10_S8.scalpel.vcf
freebayes: ./FreeBayes/TM10_S8.freebayes.vcf
vardict: ./VarDict/TM10_S8.vardict.vcf
db: ./GEMINI/TM10_S8.snpEff.GRCh37.75.db

[TM11]
fastq1: ./FastQs/TM11_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM11_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM11.recalibrated.sorted.bam
mutect: ./MuTect/TM11.mutect.vcf
scalpel: ./Scalpel/TM11.scalpel.vcf
freebayes: ./FreeBayes/TM11.freebayes.vcf
vardict: ./VarDict/TM11.vardict.vcf
db: ./GEMINI/TM11.snpEff.GRCh37.75.db

[TM12]
fastq1: ./FastQs/TM12_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM12_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM12.recalibrated.sorted.bam
mutect: ./MuTect/TM12.mutect.vcf
scalpel: ./Scalpel/TM12.scalpel.vcf
freebayes: ./FreeBayes/TM12.freebayes.vcf
vardict: ./VarDict/TM12.vardict.vcf
db: ./GEMINI/TM12.snpEff.GRCh37.75.db

[TM13]
fastq1: ./FastQs/TM13_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM13_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM13.recalibrated.sorted.bam
mutect: ./MuTect/TM13.mutect.vcf
scalpel: ./Scalpel/TM13.scalpel.vcf
freebayes: ./FreeBayes/TM13.freebayes.vcf
vardict: ./VarDict/TM13.vardict.vcf
db: ./GEMINI/TM13.snpEff.GRCh37.75.db

[TM14]
fastq1: ./FastQs/TM14_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM14_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM14.recalibrated.sorted.bam
mutect: ./MuTect/TM14.mutect.vcf
scalpel: ./Scalpel/TM14.scalpel.vcf
freebayes: ./FreeBayes/TM14.freebayes.vcf
vardict: ./VarDict/TM14.vardict.vcf
db: ./GEMINI/TM14.snpEff.GRCh37.75.db

[TM15]
fastq1: ./FastQs/TM15_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM15_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM15.recalibrated.sorted.bam
mutect: ./MuTect/TM15.mutect.vcf
scalpel: ./Scalpel/TM15.scalpel.vcf
freebayes: ./FreeBayes/TM15.freebayes.vcf
vardict: ./VarDict/TM15.vardict.vcf
db: ./GEMINI/TM15.snpEff.GRCh37.75.db

[TM16]
fastq1: ./FastQs/TM16_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM16_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM16.recalibrated.sorted.bam
mutect: ./MuTect/TM16.mutect.vcf
scalpel: ./Scalpel/TM16.scalpel.vcf
freebayes: ./FreeBayes/TM16.freebayes.vcf
vardict: ./VarDict/TM16.vardict.vcf
db: ./GEMINI/TM16.snpEff.GRCh37.75.db

[TM17]
fastq1: ./FastQs/TM17_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM17_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM17.recalibrated.sorted.bam
mutect: ./MuTect/TM17.mutect.vcf
scalpel: ./Scalpel/TM17.scalpel.vcf
freebayes: ./FreeBayes/TM17.freebayes.vcf
vardict: ./VarDict/TM17.vardict.vcf
db: ./GEMINI/TM17.snpEff.GRCh37.75.db

[TM18A]
fastq1: ./FastQs/TM18A_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM18A_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM18A.recalibrated.sorted.bam
mutect: ./MuTect/TM18A.mutect.vcf
scalpel: ./Scalpel/TM18A.scalpel.vcf
freebayes: ./FreeBayes/TM18A.freebayes.vcf
vardict: ./VarDict/TM18A.vardict.vcf
db: ./GEMINI/TM18A.snpEff.GRCh37.75.db

[TM18B]
fastq1: ./FastQs/TM18B_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM18B_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM18B.recalibrated.sorted.bam
mutect: ./MuTect/TM18B.mutect.vcf
scalpel: ./Scalpel/TM18B.scalpel.vcf
freebayes: ./FreeBayes/TM18B.freebayes.vcf
vardict: ./VarDict/TM18B.vardict.vcf
db: ./GEMINI/TM18B.snpEff.GRCh37.75.db

[TM19]
fastq1: ./FastQs/TM19_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM19_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM19.recalibrated.sorted.bam
mutect: ./MuTect/TM19.mutect.vcf
scalpel: ./Scalpel/TM19.scalpel.vcf
freebayes: ./FreeBayes/TM19.freebayes.vcf
vardict: ./VarDict/TM19.vardict.vcf
db: ./GEMINI/TM19.snpEff.GRCh37.75.db

[TM1_S2]
fastq1: ./FastQs/TM1_S2_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM1_S2_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM1_S2.recalibrated.sorted.bam
mutect: ./MuTect/TM1_S2.mutect.vcf
scalpel: ./Scalpel/TM1_S2.scalpel.vcf
freebayes: ./FreeBayes/TM1_S2.freebayes.vcf
vardict: ./VarDict/TM1_S2.vardict.vcf
db: ./GEMINI/TM1_S2.snpEff.GRCh37.75.db

[TM20]
fastq1: ./FastQs/TM20_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM20_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM20.recalibrated.sorted.bam
mutect: ./MuTect/TM20.mutect.vcf
scalpel: ./Scalpel/TM20.scalpel.vcf
freebayes: ./FreeBayes/TM20.freebayes.vcf
vardict: ./VarDict/TM20.vardict.vcf
db: ./GEMINI/TM20.snpEff.GRCh37.75.db

[TM21]
fastq1: ./FastQs/TM21_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM21_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM21.recalibrated.sorted.bam
mutect: ./MuTect/TM21.mutect.vcf
scalpel: ./Scalpel/TM21.scalpel.vcf
freebayes: ./FreeBayes/TM21.freebayes.vcf
vardict: ./VarDict/TM21.vardict.vcf
db: ./GEMINI/TM21.snpEff.GRCh37.75.db

[TM22]
fastq1: ./FastQs/TM22_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM22_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM22.recalibrated.sorted.bam
mutect: ./MuTect/TM22.mutect.vcf
scalpel: ./Scalpel/TM22.scalpel.vcf
freebayes: ./FreeBayes/TM22.freebayes.vcf
vardict: ./VarDict/TM22.vardict.vcf
db: ./GEMINI/TM22.snpEff.GRCh37.75.db

[TM23A]
fastq1: ./FastQs/TM23A_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM23A_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM23A.recalibrated.sorted.bam
mutect: ./MuTect/TM23A.mutect.vcf
scalpel: ./Scalpel/TM23A.scalpel.vcf
freebayes: ./FreeBayes/TM23A.freebayes.vcf
vardict: ./VarDict/TM23A.vardict.vcf
db: ./GEMINI/TM23A.snpEff.GRCh37.75.db

[TM23B]
fastq1: ./FastQs/TM23B_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM23B_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM23B.recalibrated.sorted.bam
mutect: ./MuTect/TM23B.mutect.vcf
scalpel: ./Scalpel/TM23B.scalpel.vcf
freebayes: ./FreeBayes/TM23B.freebayes.vcf
vardict: ./VarDict/TM23B.vardict.vcf
db: ./GEMINI/TM23B.snpEff.GRCh37.75.db

[TM23C]
fastq1: ./FastQs/TM23C_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM23C_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM23C.recalibrated.sorted.bam
mutect: ./MuTect/TM23C.mutect.vcf
scalpel: ./Scalpel/TM23C.scalpel.vcf
freebayes: ./FreeBayes/TM23C.freebayes.vcf
vardict: ./VarDict/TM23C.vardict.vcf
db: ./GEMINI/TM23C.snpEff.GRCh37.75.db

[TM24A]
fastq1: ./FastQs/TM24A_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM24A_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM24A.recalibrated.sorted.bam
mutect: ./MuTect/TM24A.mutect.vcf
scalpel: ./Scalpel/TM24A.scalpel.vcf
freebayes: ./FreeBayes/TM24A.freebayes.vcf
vardict: ./VarDict/TM24A.vardict.vcf
db: ./GEMINI/TM24A.snpEff.GRCh37.75.db

[TM24B]
fastq1: ./FastQs/TM24B_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM24B_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM24B.recalibrated.sorted.bam
mutect: ./MuTect/TM24B.mutect.vcf
scalpel: ./Scalpel/TM24B.scalpel.vcf
freebayes: ./FreeBayes/TM24B.freebayes.vcf
vardict: ./VarDict/TM24B.vardict.vcf
db: ./GEMINI/TM24B.snpEff.GRCh37.75.db

[TM25]
fastq1: ./FastQs/TM25_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM25_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM25.recalibrated.sorted.bam
mutect: ./MuTect/TM25.mutect.vcf
scalpel: ./Scalpel/TM25.scalpel.vcf
freebayes: ./FreeBayes/TM25.freebayes.vcf
vardict: ./VarDict/TM25.vardict.vcf
db: ./GEMINI/TM25.snpEff.GRCh37.75.db

[TM26]
fastq1: ./FastQs/TM26_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM26_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM26.recalibrated.sorted.bam
mutect: ./MuTect/TM26.mutect.vcf
scalpel: ./Scalpel/TM26.scalpel.vcf
freebayes: ./FreeBayes/TM26.freebayes.vcf
vardict: ./VarDict/TM26.vardict.vcf
db: ./GEMINI/TM26.snpEff.GRCh37.75.db

[TM27]
fastq1: ./FastQs/TM27_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM27_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM27.recalibrated.sorted.bam
mutect: ./MuTect/TM27.mutect.vcf
scalpel: ./Scalpel/TM27.scalpel.vcf
freebayes: ./FreeBayes/TM27.freebayes.vcf
vardict: ./VarDict/TM27.vardict.vcf
db: ./GEMINI/TM27.snpEff.GRCh37.75.db

[TM28]
fastq1: ./FastQs/TM28_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM28_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM28.recalibrated.sorted.bam
mutect: ./MuTect/TM28.mutect.vcf
scalpel: ./Scalpel/TM28.scalpel.vcf
freebayes: ./FreeBayes/TM28.freebayes.vcf
vardict: ./VarDict/TM28.vardict.vcf
db: ./GEMINI/TM28.snpEff.GRCh37.75.db

[TM30_S1]
fastq1: ./FastQs/TM30_S1_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM30_S1_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM30_S1.recalibrated.sorted.bam
mutect: ./MuTect/TM30_S1.mutect.vcf
scalpel: ./Scalpel/TM30_S1.scalpel.vcf
freebayes: ./FreeBayes/TM30_S1.freebayes.vcf
vardict: ./VarDict/TM30_S1.vardict.vcf
db: ./GEMINI/TM30_S1.snpEff.GRCh37.75.db

[TM31_S2]
fastq1: ./FastQs/TM31_S2_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM31_S2_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM31_S2.recalibrated.sorted.bam
mutect: ./MuTect/TM31_S2.mutect.vcf
scalpel: ./Scalpel/TM31_S2.scalpel.vcf
freebayes: ./FreeBayes/TM31_S2.freebayes.vcf
vardict: ./VarDict/TM31_S2.vardict.vcf
db: ./GEMINI/TM31_S2.snpEff.GRCh37.75.db

[TM32_S3]
fastq1: ./FastQs/TM32_S3_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM32_S3_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM32_S3.recalibrated.sorted.bam
mutect: ./MuTect/TM32_S3.mutect.vcf
scalpel: ./Scalpel/TM32_S3.scalpel.vcf
freebayes: ./FreeBayes/TM32_S3.freebayes.vcf
vardict: ./VarDict/TM32_S3.vardict.vcf
db: ./GEMINI/TM32_S3.snpEff.GRCh37.75.db

[TM33_S4]
fastq1: ./FastQs/TM33_S4_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM33_S4_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM33_S4.recalibrated.sorted.bam
mutect: ./MuTect/TM33_S4.mutect.vcf
scalpel: ./Scalpel/TM33_S4.scalpel.vcf
freebayes: ./FreeBayes/TM33_S4.freebayes.vcf
vardict: ./VarDict/TM33_S4.vardict.vcf
db: ./GEMINI/TM33_S4.snpEff.GRCh37.75.db

[TM34_S5]
fastq1: ./FastQs/TM34_S5_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM34_S5_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM34_S5.recalibrated.sorted.bam
mutect: ./MuTect/TM34_S5.mutect.vcf
scalpel: ./Scalpel/TM34_S5.scalpel.vcf
freebayes: ./FreeBayes/TM34_S5.freebayes.vcf
vardict: ./VarDict/TM34_S5.vardict.vcf
db: ./GEMINI/TM34_S5.snpEff.GRCh37.75.db

[TM35_S6]
fastq1: ./FastQs/TM35_S6_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM35_S6_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM35_S6.recalibrated.sorted.bam
mutect: ./MuTect/TM35_S6.mutect.vcf
scalpel: ./Scalpel/TM35_S6.scalpel.vcf
freebayes: ./FreeBayes/TM35_S6.freebayes.vcf
vardict: ./VarDict/TM35_S6.vardict.vcf
db: ./GEMINI/TM35_S6.snpEff.GRCh37.75.db

[TM36_S7]
fastq1: ./FastQs/TM36_S7_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM36_S7_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM36_S7.recalibrated.sorted.bam
mutect: ./MuTect/TM36_S7.mutect.vcf
scalpel: ./Scalpel/TM36_S7.scalpel.vcf
freebayes: ./FreeBayes/TM36_S7.freebayes.vcf
vardict: ./VarDict/TM36_S7.vardict.vcf
db: ./GEMINI/TM36_S7.snpEff.GRCh37.75.db

[TM37_S8]
fastq1: ./FastQs/TM37_S8_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM37_S8_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM37_S8.recalibrated.sorted.bam
mutect: ./MuTect/TM37_S8.mutect.vcf
scalpel: ./Scalpel/TM37_S8.scalpel.vcf
freebayes: ./FreeBayes/TM37_S8.freebayes.vcf
vardict: ./VarDict/TM37_S8.vardict.vcf
db: ./GEMINI/TM37_S8.snpEff.GRCh37.75.db

[TM3_S3]
fastq1: ./FastQs/TM3_S3_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM3_S3_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM3_S3.recalibrated.sorted.bam
mutect: ./MuTect/TM3_S3.mutect.vcf
scalpel: ./Scalpel/TM3_S3.scalpel.vcf
freebayes: ./FreeBayes/TM3_S3.freebayes.vcf
vardict: ./VarDict/TM3_S3.vardict.vcf
db: ./GEMINI/TM3_S3.snpEff.GRCh37.75.db

[TM4_S4]
fastq1: ./FastQs/TM4_S4_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM4_S4_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM4_S4.recalibrated.sorted.bam
mutect: ./MuTect/TM4_S4.mutect.vcf
scalpel: ./Scalpel/TM4_S4.scalpel.vcf
freebayes: ./FreeBayes/TM4_S4.freebayes.vcf
vardict: ./VarDict/TM4_S4.vardict.vcf
db: ./GEMINI/TM4_S4.snpEff.GRCh37.75.db

[TM6_S5]
fastq1: ./FastQs/TM6_S5_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM6_S5_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM6_S5.recalibrated.sorted.bam
mutect: ./MuTect/TM6_S5.mutect.vcf
scalpel: ./Scalpel/TM6_S5.scalpel.vcf
freebayes: ./FreeBayes/TM6_S5.freebayes.vcf
vardict: ./VarDict/TM6_S5.vardict.vcf
db: ./GEMINI/TM6_S5.snpEff.GRCh37.75.db

[TM7_S6]
fastq1: ./FastQs/TM7_S6_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM7_S6_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM7_S6.recalibrated.sorted.bam
mutect: ./MuTect/TM7_S6.mutect.vcf
scalpel: ./Scalpel/TM7_S6.scalpel.vcf
freebayes: ./FreeBayes/TM7_S6.freebayes.vcf
vardict: ./VarDict/TM7_S6.vardict.vcf
db: ./GEMINI/TM7_S6.snpEff.GRCh37.75.db

[TM9_S7]
fastq1: ./FastQs/TM9_S7_L001_R1_001.fastq.gz
fastq2: ./FastQs/TM9_S7_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TM9_S7.recalibrated.sorted.bam
mutect: ./MuTect/TM9_S7.mutect.vcf
scalpel: ./Scalpel/TM9_S7.scalpel.vcf
freebayes: ./FreeBayes/TM9_S7.freebayes.vcf
vardict: ./VarDict/TM9_S7.vardict.vcf
db: ./GEMINI/TM9_S7.snpEff.GRCh37.75.db

