[TT1CMP_S11-20151207]
fastq1: ./FastQs/TT1CMP_S11-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT1CMP_S11-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT1CMP_S11-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT1CMP_S11-20151207.mutect.vcf
scalpel: ./Scalpel/TT1CMP_S11-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT1CMP_S11-20151207.freebayes.vcf
vardict: ./VarDict/TT1CMP_S11-20151207.vardict.vcf
db: ./GEMINI/TT1CMP_S11-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT1CMP_S3-20151207]
fastq1: ./FastQs/TT1CMP_S3-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT1CMP_S3-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT1CMP_S3-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT1CMP_S3-20151207.mutect.vcf
scalpel: ./Scalpel/TT1CMP_S3-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT1CMP_S3-20151207.freebayes.vcf
vardict: ./VarDict/TT1CMP_S3-20151207.vardict.vcf
db: ./GEMINI/TT1CMP_S3-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT1CMP_S3]
fastq1: ./FastQs/TT1CMP_S3_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT1CMP_S3_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT1CMP_S3.recalibrated.sorted.bam
mutect: ./MuTect/TT1CMP_S3.mutect.vcf
scalpel: ./Scalpel/TT1CMP_S3.scalpel.vcf
freebayes: ./FreeBayes/TT1CMP_S3.freebayes.vcf
vardict: ./VarDict/TT1CMP_S3.vardict.vcf
db: ./GEMINI/TT1CMP_S3.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT1CMP_S7]
fastq1: ./FastQs/TT1CMP_S7_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT1CMP_S7_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT1CMP_S7.recalibrated.sorted.bam
mutect: ./MuTect/TT1CMP_S7.mutect.vcf
scalpel: ./Scalpel/TT1CMP_S7.scalpel.vcf
freebayes: ./FreeBayes/TT1CMP_S7.freebayes.vcf
vardict: ./VarDict/TT1CMP_S7.vardict.vcf
db: ./GEMINI/TT1CMP_S7.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT1T_S16-20151207]
fastq1: ./FastQs/TT1T_S16-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT1T_S16-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT1T_S16-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT1T_S16-20151207.mutect.vcf
scalpel: ./Scalpel/TT1T_S16-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT1T_S16-20151207.freebayes.vcf
vardict: ./VarDict/TT1T_S16-20151207.vardict.vcf
db: ./GEMINI/TT1T_S16-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT1T_S8-20151207]
fastq1: ./FastQs/TT1T_S8-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT1T_S8-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT1T_S8-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT1T_S8-20151207.mutect.vcf
scalpel: ./Scalpel/TT1T_S8-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT1T_S8-20151207.freebayes.vcf
vardict: ./VarDict/TT1T_S8-20151207.vardict.vcf
db: ./GEMINI/TT1T_S8-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT1T_S4]
fastq1: ./FastQs/TT1T_S4_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT1T_S4_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT1T_S4.recalibrated.sorted.bam
mutect: ./MuTect/TT1T_S4.mutect.vcf
scalpel: ./Scalpel/TT1T_S4.scalpel.vcf
freebayes: ./FreeBayes/TT1T_S4.freebayes.vcf
vardict: ./VarDict/TT1T_S4.vardict.vcf
db: ./GEMINI/TT1T_S4.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT1T_S8]
fastq1: ./FastQs/TT1T_S8_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT1T_S8_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT1T_S8.recalibrated.sorted.bam
mutect: ./MuTect/TT1T_S8.mutect.vcf
scalpel: ./Scalpel/TT1T_S8.scalpel.vcf
freebayes: ./FreeBayes/TT1T_S8.freebayes.vcf
vardict: ./VarDict/TT1T_S8.vardict.vcf
db: ./GEMINI/TT1T_S8.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT27_S18-20160101]
fastq1: ./FastQs/TT27_S18-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT27_S18-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT27_S18-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT27_S18-20160101.mutect.vcf
scalpel: ./Scalpel/TT27_S18-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT27_S18-20160101.freebayes.vcf
vardict: ./VarDict/TT27_S18-20160101.vardict.vcf
db: ./GEMINI/TT27_S18-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT27_S2-20160101]
fastq1: ./FastQs/TT27_S2-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT27_S2-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT27_S2-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT27_S2-20160101.mutect.vcf
scalpel: ./Scalpel/TT27_S2-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT27_S2-20160101.freebayes.vcf
vardict: ./VarDict/TT27_S2-20160101.vardict.vcf
db: ./GEMINI/TT27_S2-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT27_S10]
fastq1: ./FastQs/TT27_S10_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT27_S10_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT27_S10.recalibrated.sorted.bam
mutect: ./MuTect/TT27_S10.mutect.vcf
scalpel: ./Scalpel/TT27_S10.scalpel.vcf
freebayes: ./FreeBayes/TT27_S10.freebayes.vcf
vardict: ./VarDict/TT27_S10.vardict.vcf
db: ./GEMINI/TT27_S10.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT27_S2]
fastq1: ./FastQs/TT27_S2_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT27_S2_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT27_S2.recalibrated.sorted.bam
mutect: ./MuTect/TT27_S2.mutect.vcf
scalpel: ./Scalpel/TT27_S2.scalpel.vcf
freebayes: ./FreeBayes/TT27_S2.freebayes.vcf
vardict: ./VarDict/TT27_S2.vardict.vcf
db: ./GEMINI/TT27_S2.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT28_S19-20160101]
fastq1: ./FastQs/TT28_S19-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT28_S19-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT28_S19-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT28_S19-20160101.mutect.vcf
scalpel: ./Scalpel/TT28_S19-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT28_S19-20160101.freebayes.vcf
vardict: ./VarDict/TT28_S19-20160101.vardict.vcf
db: ./GEMINI/TT28_S19-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT28_S3-20160101]
fastq1: ./FastQs/TT28_S3-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT28_S3-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT28_S3-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT28_S3-20160101.mutect.vcf
scalpel: ./Scalpel/TT28_S3-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT28_S3-20160101.freebayes.vcf
vardict: ./VarDict/TT28_S3-20160101.vardict.vcf
db: ./GEMINI/TT28_S3-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT28_S11]
fastq1: ./FastQs/TT28_S11_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT28_S11_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT28_S11.recalibrated.sorted.bam
mutect: ./MuTect/TT28_S11.mutect.vcf
scalpel: ./Scalpel/TT28_S11.scalpel.vcf
freebayes: ./FreeBayes/TT28_S11.freebayes.vcf
vardict: ./VarDict/TT28_S11.vardict.vcf
db: ./GEMINI/TT28_S11.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT28_S3]
fastq1: ./FastQs/TT28_S3_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT28_S3_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT28_S3.recalibrated.sorted.bam
mutect: ./MuTect/TT28_S3.mutect.vcf
scalpel: ./Scalpel/TT28_S3.scalpel.vcf
freebayes: ./FreeBayes/TT28_S3.freebayes.vcf
vardict: ./VarDict/TT28_S3.vardict.vcf
db: ./GEMINI/TT28_S3.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT29_S20-20160101]
fastq1: ./FastQs/TT29_S20-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT29_S20-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT29_S20-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT29_S20-20160101.mutect.vcf
scalpel: ./Scalpel/TT29_S20-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT29_S20-20160101.freebayes.vcf
vardict: ./VarDict/TT29_S20-20160101.vardict.vcf
db: ./GEMINI/TT29_S20-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT29_S4-20160101]
fastq1: ./FastQs/TT29_S4-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT29_S4-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT29_S4-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT29_S4-20160101.mutect.vcf
scalpel: ./Scalpel/TT29_S4-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT29_S4-20160101.freebayes.vcf
vardict: ./VarDict/TT29_S4-20160101.vardict.vcf
db: ./GEMINI/TT29_S4-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT29_S12]
fastq1: ./FastQs/TT29_S12_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT29_S12_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT29_S12.recalibrated.sorted.bam
mutect: ./MuTect/TT29_S12.mutect.vcf
scalpel: ./Scalpel/TT29_S12.scalpel.vcf
freebayes: ./FreeBayes/TT29_S12.freebayes.vcf
vardict: ./VarDict/TT29_S12.vardict.vcf
db: ./GEMINI/TT29_S12.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT29_S4]
fastq1: ./FastQs/TT29_S4_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT29_S4_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT29_S4.recalibrated.sorted.bam
mutect: ./MuTect/TT29_S4.mutect.vcf
scalpel: ./Scalpel/TT29_S4.scalpel.vcf
freebayes: ./FreeBayes/TT29_S4.freebayes.vcf
vardict: ./VarDict/TT29_S4.vardict.vcf
db: ./GEMINI/TT29_S4.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT2CMP_S12-20151207]
fastq1: ./FastQs/TT2CMP_S12-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT2CMP_S12-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT2CMP_S12-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT2CMP_S12-20151207.mutect.vcf
scalpel: ./Scalpel/TT2CMP_S12-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT2CMP_S12-20151207.freebayes.vcf
vardict: ./VarDict/TT2CMP_S12-20151207.vardict.vcf
db: ./GEMINI/TT2CMP_S12-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT2CMP_S4-20151207]
fastq1: ./FastQs/TT2CMP_S4-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT2CMP_S4-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT2CMP_S4-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT2CMP_S4-20151207.mutect.vcf
scalpel: ./Scalpel/TT2CMP_S4-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT2CMP_S4-20151207.freebayes.vcf
vardict: ./VarDict/TT2CMP_S4-20151207.vardict.vcf
db: ./GEMINI/TT2CMP_S4-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT2CMP_S4]
fastq1: ./FastQs/TT2CMP_S4_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT2CMP_S4_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT2CMP_S4.recalibrated.sorted.bam
mutect: ./MuTect/TT2CMP_S4.mutect.vcf
scalpel: ./Scalpel/TT2CMP_S4.scalpel.vcf
freebayes: ./FreeBayes/TT2CMP_S4.freebayes.vcf
vardict: ./VarDict/TT2CMP_S4.vardict.vcf
db: ./GEMINI/TT2CMP_S4.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT2CMP_S8]
fastq1: ./FastQs/TT2CMP_S8_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT2CMP_S8_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT2CMP_S8.recalibrated.sorted.bam
mutect: ./MuTect/TT2CMP_S8.mutect.vcf
scalpel: ./Scalpel/TT2CMP_S8.scalpel.vcf
freebayes: ./FreeBayes/TT2CMP_S8.freebayes.vcf
vardict: ./VarDict/TT2CMP_S8.vardict.vcf
db: ./GEMINI/TT2CMP_S8.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT2MP_S1]
fastq1: ./FastQs/TT2MP_S1_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT2MP_S1_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT2MP_S1.recalibrated.sorted.bam
mutect: ./MuTect/TT2MP_S1.mutect.vcf
scalpel: ./Scalpel/TT2MP_S1.scalpel.vcf
freebayes: ./FreeBayes/TT2MP_S1.freebayes.vcf
vardict: ./VarDict/TT2MP_S1.vardict.vcf
db: ./GEMINI/TT2MP_S1.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT2MP_S5]
fastq1: ./FastQs/TT2MP_S5_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT2MP_S5_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT2MP_S5.recalibrated.sorted.bam
mutect: ./MuTect/TT2MP_S5.mutect.vcf
scalpel: ./Scalpel/TT2MP_S5.scalpel.vcf
freebayes: ./FreeBayes/TT2MP_S5.freebayes.vcf
vardict: ./VarDict/TT2MP_S5.vardict.vcf
db: ./GEMINI/TT2MP_S5.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT2MP_S1-20151207]
fastq1: ./FastQs/TT2MP_S1-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT2MP_S1-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT2MP_S1-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT2MP_S1-20151207.mutect.vcf
scalpel: ./Scalpel/TT2MP_S1-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT2MP_S1-20151207.freebayes.vcf
vardict: ./VarDict/TT2MP_S1-20151207.vardict.vcf
db: ./GEMINI/TT2MP_S1-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT2MP_S9-20151207]
fastq1: ./FastQs/TT2MP_S9-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT2MP_S9-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT2MP_S9-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT2MP_S9-20151207.mutect.vcf
scalpel: ./Scalpel/TT2MP_S9-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT2MP_S9-20151207.freebayes.vcf
vardict: ./VarDict/TT2MP_S9-20151207.vardict.vcf
db: ./GEMINI/TT2MP_S9-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT2T_S1-20160101]
fastq1: ./FastQs/TT2T_S1-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT2T_S1-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT2T_S1-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT2T_S1-20160101.mutect.vcf
scalpel: ./Scalpel/TT2T_S1-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT2T_S1-20160101.freebayes.vcf
vardict: ./VarDict/TT2T_S1-20160101.vardict.vcf
db: ./GEMINI/TT2T_S1-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT2T_S17-20160101]
fastq1: ./FastQs/TT2T_S17-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT2T_S17-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT2T_S17-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT2T_S17-20160101.mutect.vcf
scalpel: ./Scalpel/TT2T_S17-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT2T_S17-20160101.freebayes.vcf
vardict: ./VarDict/TT2T_S17-20160101.vardict.vcf
db: ./GEMINI/TT2T_S17-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT2T_S1]
fastq1: ./FastQs/TT2T_S1_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT2T_S1_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT2T_S1.recalibrated.sorted.bam
mutect: ./MuTect/TT2T_S1.mutect.vcf
scalpel: ./Scalpel/TT2T_S1.scalpel.vcf
freebayes: ./FreeBayes/TT2T_S1.freebayes.vcf
vardict: ./VarDict/TT2T_S1.vardict.vcf
db: ./GEMINI/TT2T_S1.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT2T_S9]
fastq1: ./FastQs/TT2T_S9_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT2T_S9_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT2T_S9.recalibrated.sorted.bam
mutect: ./MuTect/TT2T_S9.mutect.vcf
scalpel: ./Scalpel/TT2T_S9.scalpel.vcf
freebayes: ./FreeBayes/TT2T_S9.freebayes.vcf
vardict: ./VarDict/TT2T_S9.vardict.vcf
db: ./GEMINI/TT2T_S9.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT30_S21-20160101]
fastq1: ./FastQs/TT30_S21-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT30_S21-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT30_S21-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT30_S21-20160101.mutect.vcf
scalpel: ./Scalpel/TT30_S21-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT30_S21-20160101.freebayes.vcf
vardict: ./VarDict/TT30_S21-20160101.vardict.vcf
db: ./GEMINI/TT30_S21-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT30_S5-20160101]
fastq1: ./FastQs/TT30_S5-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT30_S5-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT30_S5-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT30_S5-20160101.mutect.vcf
scalpel: ./Scalpel/TT30_S5-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT30_S5-20160101.freebayes.vcf
vardict: ./VarDict/TT30_S5-20160101.vardict.vcf
db: ./GEMINI/TT30_S5-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT30_S13]
fastq1: ./FastQs/TT30_S13_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT30_S13_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT30_S13.recalibrated.sorted.bam
mutect: ./MuTect/TT30_S13.mutect.vcf
scalpel: ./Scalpel/TT30_S13.scalpel.vcf
freebayes: ./FreeBayes/TT30_S13.freebayes.vcf
vardict: ./VarDict/TT30_S13.vardict.vcf
db: ./GEMINI/TT30_S13.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT30_S5]
fastq1: ./FastQs/TT30_S5_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT30_S5_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT30_S5.recalibrated.sorted.bam
mutect: ./MuTect/TT30_S5.mutect.vcf
scalpel: ./Scalpel/TT30_S5.scalpel.vcf
freebayes: ./FreeBayes/TT30_S5.freebayes.vcf
vardict: ./VarDict/TT30_S5.vardict.vcf
db: ./GEMINI/TT30_S5.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT31_S22-20160101]
fastq1: ./FastQs/TT31_S22-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT31_S22-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT31_S22-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT31_S22-20160101.mutect.vcf
scalpel: ./Scalpel/TT31_S22-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT31_S22-20160101.freebayes.vcf
vardict: ./VarDict/TT31_S22-20160101.vardict.vcf
db: ./GEMINI/TT31_S22-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT31_S6-20160101]
fastq1: ./FastQs/TT31_S6-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT31_S6-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT31_S6-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT31_S6-20160101.mutect.vcf
scalpel: ./Scalpel/TT31_S6-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT31_S6-20160101.freebayes.vcf
vardict: ./VarDict/TT31_S6-20160101.vardict.vcf
db: ./GEMINI/TT31_S6-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT31_S14]
fastq1: ./FastQs/TT31_S14_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT31_S14_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT31_S14.recalibrated.sorted.bam
mutect: ./MuTect/TT31_S14.mutect.vcf
scalpel: ./Scalpel/TT31_S14.scalpel.vcf
freebayes: ./FreeBayes/TT31_S14.freebayes.vcf
vardict: ./VarDict/TT31_S14.vardict.vcf
db: ./GEMINI/TT31_S14.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT31_S6]
fastq1: ./FastQs/TT31_S6_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT31_S6_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT31_S6.recalibrated.sorted.bam
mutect: ./MuTect/TT31_S6.mutect.vcf
scalpel: ./Scalpel/TT31_S6.scalpel.vcf
freebayes: ./FreeBayes/TT31_S6.freebayes.vcf
vardict: ./VarDict/TT31_S6.vardict.vcf
db: ./GEMINI/TT31_S6.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT32_S23-20160101]
fastq1: ./FastQs/TT32_S23-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT32_S23-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT32_S23-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT32_S23-20160101.mutect.vcf
scalpel: ./Scalpel/TT32_S23-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT32_S23-20160101.freebayes.vcf
vardict: ./VarDict/TT32_S23-20160101.vardict.vcf
db: ./GEMINI/TT32_S23-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT32_S7-20160101]
fastq1: ./FastQs/TT32_S7-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT32_S7-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT32_S7-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT32_S7-20160101.mutect.vcf
scalpel: ./Scalpel/TT32_S7-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT32_S7-20160101.freebayes.vcf
vardict: ./VarDict/TT32_S7-20160101.vardict.vcf
db: ./GEMINI/TT32_S7-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT32_S15]
fastq1: ./FastQs/TT32_S15_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT32_S15_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT32_S15.recalibrated.sorted.bam
mutect: ./MuTect/TT32_S15.mutect.vcf
scalpel: ./Scalpel/TT32_S15.scalpel.vcf
freebayes: ./FreeBayes/TT32_S15.freebayes.vcf
vardict: ./VarDict/TT32_S15.vardict.vcf
db: ./GEMINI/TT32_S15.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT32_S7]
fastq1: ./FastQs/TT32_S7_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT32_S7_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT32_S7.recalibrated.sorted.bam
mutect: ./MuTect/TT32_S7.mutect.vcf
scalpel: ./Scalpel/TT32_S7.scalpel.vcf
freebayes: ./FreeBayes/TT32_S7.freebayes.vcf
vardict: ./VarDict/TT32_S7.vardict.vcf
db: ./GEMINI/TT32_S7.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT33_S24-20160101]
fastq1: ./FastQs/TT33_S24-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT33_S24-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT33_S24-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT33_S24-20160101.mutect.vcf
scalpel: ./Scalpel/TT33_S24-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT33_S24-20160101.freebayes.vcf
vardict: ./VarDict/TT33_S24-20160101.vardict.vcf
db: ./GEMINI/TT33_S24-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT33_S8-20160101]
fastq1: ./FastQs/TT33_S8-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT33_S8-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT33_S8-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT33_S8-20160101.mutect.vcf
scalpel: ./Scalpel/TT33_S8-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT33_S8-20160101.freebayes.vcf
vardict: ./VarDict/TT33_S8-20160101.vardict.vcf
db: ./GEMINI/TT33_S8-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT33_S16]
fastq1: ./FastQs/TT33_S16_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT33_S16_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT33_S16.recalibrated.sorted.bam
mutect: ./MuTect/TT33_S16.mutect.vcf
scalpel: ./Scalpel/TT33_S16.scalpel.vcf
freebayes: ./FreeBayes/TT33_S16.freebayes.vcf
vardict: ./VarDict/TT33_S16.vardict.vcf
db: ./GEMINI/TT33_S16.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT33_S8]
fastq1: ./FastQs/TT33_S8_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT33_S8_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT33_S8.recalibrated.sorted.bam
mutect: ./MuTect/TT33_S8.mutect.vcf
scalpel: ./Scalpel/TT33_S8.scalpel.vcf
freebayes: ./FreeBayes/TT33_S8.freebayes.vcf
vardict: ./VarDict/TT33_S8.vardict.vcf
db: ./GEMINI/TT33_S8.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT34_S25-20160101]
fastq1: ./FastQs/TT34_S25-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT34_S25-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT34_S25-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT34_S25-20160101.mutect.vcf
scalpel: ./Scalpel/TT34_S25-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT34_S25-20160101.freebayes.vcf
vardict: ./VarDict/TT34_S25-20160101.vardict.vcf
db: ./GEMINI/TT34_S25-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT34_S9-20160101]
fastq1: ./FastQs/TT34_S9-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT34_S9-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT34_S9-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT34_S9-20160101.mutect.vcf
scalpel: ./Scalpel/TT34_S9-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT34_S9-20160101.freebayes.vcf
vardict: ./VarDict/TT34_S9-20160101.vardict.vcf
db: ./GEMINI/TT34_S9-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT34_S1]
fastq1: ./FastQs/TT34_S1_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT34_S1_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT34_S1.recalibrated.sorted.bam
mutect: ./MuTect/TT34_S1.mutect.vcf
scalpel: ./Scalpel/TT34_S1.scalpel.vcf
freebayes: ./FreeBayes/TT34_S1.freebayes.vcf
vardict: ./VarDict/TT34_S1.vardict.vcf
db: ./GEMINI/TT34_S1.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT34_S9]
fastq1: ./FastQs/TT34_S9_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT34_S9_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT34_S9.recalibrated.sorted.bam
mutect: ./MuTect/TT34_S9.mutect.vcf
scalpel: ./Scalpel/TT34_S9.scalpel.vcf
freebayes: ./FreeBayes/TT34_S9.freebayes.vcf
vardict: ./VarDict/TT34_S9.vardict.vcf
db: ./GEMINI/TT34_S9.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT35_S10-20160101]
fastq1: ./FastQs/TT35_S10-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT35_S10-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT35_S10-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT35_S10-20160101.mutect.vcf
scalpel: ./Scalpel/TT35_S10-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT35_S10-20160101.freebayes.vcf
vardict: ./VarDict/TT35_S10-20160101.vardict.vcf
db: ./GEMINI/TT35_S10-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT35_S26-20160101]
fastq1: ./FastQs/TT35_S26-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT35_S26-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT35_S26-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT35_S26-20160101.mutect.vcf
scalpel: ./Scalpel/TT35_S26-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT35_S26-20160101.freebayes.vcf
vardict: ./VarDict/TT35_S26-20160101.vardict.vcf
db: ./GEMINI/TT35_S26-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT35_S10]
fastq1: ./FastQs/TT35_S10_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT35_S10_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT35_S10.recalibrated.sorted.bam
mutect: ./MuTect/TT35_S10.mutect.vcf
scalpel: ./Scalpel/TT35_S10.scalpel.vcf
freebayes: ./FreeBayes/TT35_S10.freebayes.vcf
vardict: ./VarDict/TT35_S10.vardict.vcf
db: ./GEMINI/TT35_S10.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT35_S2]
fastq1: ./FastQs/TT35_S2_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT35_S2_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT35_S2.recalibrated.sorted.bam
mutect: ./MuTect/TT35_S2.mutect.vcf
scalpel: ./Scalpel/TT35_S2.scalpel.vcf
freebayes: ./FreeBayes/TT35_S2.freebayes.vcf
vardict: ./VarDict/TT35_S2.vardict.vcf
db: ./GEMINI/TT35_S2.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT36_S11-20160101]
fastq1: ./FastQs/TT36_S11-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT36_S11-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT36_S11-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT36_S11-20160101.mutect.vcf
scalpel: ./Scalpel/TT36_S11-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT36_S11-20160101.freebayes.vcf
vardict: ./VarDict/TT36_S11-20160101.vardict.vcf
db: ./GEMINI/TT36_S11-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT36_S27-20160101]
fastq1: ./FastQs/TT36_S27-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT36_S27-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT36_S27-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT36_S27-20160101.mutect.vcf
scalpel: ./Scalpel/TT36_S27-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT36_S27-20160101.freebayes.vcf
vardict: ./VarDict/TT36_S27-20160101.vardict.vcf
db: ./GEMINI/TT36_S27-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT36_S11]
fastq1: ./FastQs/TT36_S11_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT36_S11_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT36_S11.recalibrated.sorted.bam
mutect: ./MuTect/TT36_S11.mutect.vcf
scalpel: ./Scalpel/TT36_S11.scalpel.vcf
freebayes: ./FreeBayes/TT36_S11.freebayes.vcf
vardict: ./VarDict/TT36_S11.vardict.vcf
db: ./GEMINI/TT36_S11.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT36_S3]
fastq1: ./FastQs/TT36_S3_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT36_S3_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT36_S3.recalibrated.sorted.bam
mutect: ./MuTect/TT36_S3.mutect.vcf
scalpel: ./Scalpel/TT36_S3.scalpel.vcf
freebayes: ./FreeBayes/TT36_S3.freebayes.vcf
vardict: ./VarDict/TT36_S3.vardict.vcf
db: ./GEMINI/TT36_S3.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT37_S12-20160101]
fastq1: ./FastQs/TT37_S12-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT37_S12-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT37_S12-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT37_S12-20160101.mutect.vcf
scalpel: ./Scalpel/TT37_S12-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT37_S12-20160101.freebayes.vcf
vardict: ./VarDict/TT37_S12-20160101.vardict.vcf
db: ./GEMINI/TT37_S12-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT37_S28-20160101]
fastq1: ./FastQs/TT37_S28-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT37_S28-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT37_S28-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT37_S28-20160101.mutect.vcf
scalpel: ./Scalpel/TT37_S28-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT37_S28-20160101.freebayes.vcf
vardict: ./VarDict/TT37_S28-20160101.vardict.vcf
db: ./GEMINI/TT37_S28-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT37_S12]
fastq1: ./FastQs/TT37_S12_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT37_S12_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT37_S12.recalibrated.sorted.bam
mutect: ./MuTect/TT37_S12.mutect.vcf
scalpel: ./Scalpel/TT37_S12.scalpel.vcf
freebayes: ./FreeBayes/TT37_S12.freebayes.vcf
vardict: ./VarDict/TT37_S12.vardict.vcf
db: ./GEMINI/TT37_S12.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT37_S4]
fastq1: ./FastQs/TT37_S4_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT37_S4_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT37_S4.recalibrated.sorted.bam
mutect: ./MuTect/TT37_S4.mutect.vcf
scalpel: ./Scalpel/TT37_S4.scalpel.vcf
freebayes: ./FreeBayes/TT37_S4.freebayes.vcf
vardict: ./VarDict/TT37_S4.vardict.vcf
db: ./GEMINI/TT37_S4.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT38_S13-20160101]
fastq1: ./FastQs/TT38_S13-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT38_S13-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT38_S13-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT38_S13-20160101.mutect.vcf
scalpel: ./Scalpel/TT38_S13-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT38_S13-20160101.freebayes.vcf
vardict: ./VarDict/TT38_S13-20160101.vardict.vcf
db: ./GEMINI/TT38_S13-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT38_S29-20160101]
fastq1: ./FastQs/TT38_S29-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT38_S29-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT38_S29-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT38_S29-20160101.mutect.vcf
scalpel: ./Scalpel/TT38_S29-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT38_S29-20160101.freebayes.vcf
vardict: ./VarDict/TT38_S29-20160101.vardict.vcf
db: ./GEMINI/TT38_S29-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT38_S13]
fastq1: ./FastQs/TT38_S13_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT38_S13_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT38_S13.recalibrated.sorted.bam
mutect: ./MuTect/TT38_S13.mutect.vcf
scalpel: ./Scalpel/TT38_S13.scalpel.vcf
freebayes: ./FreeBayes/TT38_S13.freebayes.vcf
vardict: ./VarDict/TT38_S13.vardict.vcf
db: ./GEMINI/TT38_S13.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT38_S5]
fastq1: ./FastQs/TT38_S5_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT38_S5_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT38_S5.recalibrated.sorted.bam
mutect: ./MuTect/TT38_S5.mutect.vcf
scalpel: ./Scalpel/TT38_S5.scalpel.vcf
freebayes: ./FreeBayes/TT38_S5.freebayes.vcf
vardict: ./VarDict/TT38_S5.vardict.vcf
db: ./GEMINI/TT38_S5.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT39_S14-20160101]
fastq1: ./FastQs/TT39_S14-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT39_S14-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT39_S14-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT39_S14-20160101.mutect.vcf
scalpel: ./Scalpel/TT39_S14-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT39_S14-20160101.freebayes.vcf
vardict: ./VarDict/TT39_S14-20160101.vardict.vcf
db: ./GEMINI/TT39_S14-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT39_S30-20160101]
fastq1: ./FastQs/TT39_S30-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT39_S30-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT39_S30-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT39_S30-20160101.mutect.vcf
scalpel: ./Scalpel/TT39_S30-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT39_S30-20160101.freebayes.vcf
vardict: ./VarDict/TT39_S30-20160101.vardict.vcf
db: ./GEMINI/TT39_S30-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT39_S14]
fastq1: ./FastQs/TT39_S14_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT39_S14_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT39_S14.recalibrated.sorted.bam
mutect: ./MuTect/TT39_S14.mutect.vcf
scalpel: ./Scalpel/TT39_S14.scalpel.vcf
freebayes: ./FreeBayes/TT39_S14.freebayes.vcf
vardict: ./VarDict/TT39_S14.vardict.vcf
db: ./GEMINI/TT39_S14.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT39_S6]
fastq1: ./FastQs/TT39_S6_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT39_S6_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT39_S6.recalibrated.sorted.bam
mutect: ./MuTect/TT39_S6.mutect.vcf
scalpel: ./Scalpel/TT39_S6.scalpel.vcf
freebayes: ./FreeBayes/TT39_S6.freebayes.vcf
vardict: ./VarDict/TT39_S6.vardict.vcf
db: ./GEMINI/TT39_S6.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT3CMP_S13-20151207]
fastq1: ./FastQs/TT3CMP_S13-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT3CMP_S13-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT3CMP_S13-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT3CMP_S13-20151207.mutect.vcf
scalpel: ./Scalpel/TT3CMP_S13-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT3CMP_S13-20151207.freebayes.vcf
vardict: ./VarDict/TT3CMP_S13-20151207.vardict.vcf
db: ./GEMINI/TT3CMP_S13-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT3CMP_S5-20151207]
fastq1: ./FastQs/TT3CMP_S5-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT3CMP_S5-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT3CMP_S5-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT3CMP_S5-20151207.mutect.vcf
scalpel: ./Scalpel/TT3CMP_S5-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT3CMP_S5-20151207.freebayes.vcf
vardict: ./VarDict/TT3CMP_S5-20151207.vardict.vcf
db: ./GEMINI/TT3CMP_S5-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT3CMP_S1]
fastq1: ./FastQs/TT3CMP_S1_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT3CMP_S1_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT3CMP_S1.recalibrated.sorted.bam
mutect: ./MuTect/TT3CMP_S1.mutect.vcf
scalpel: ./Scalpel/TT3CMP_S1.scalpel.vcf
freebayes: ./FreeBayes/TT3CMP_S1.freebayes.vcf
vardict: ./VarDict/TT3CMP_S1.vardict.vcf
db: ./GEMINI/TT3CMP_S1.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT3CMP_S5]
fastq1: ./FastQs/TT3CMP_S5_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT3CMP_S5_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT3CMP_S5.recalibrated.sorted.bam
mutect: ./MuTect/TT3CMP_S5.mutect.vcf
scalpel: ./Scalpel/TT3CMP_S5.scalpel.vcf
freebayes: ./FreeBayes/TT3CMP_S5.freebayes.vcf
vardict: ./VarDict/TT3CMP_S5.vardict.vcf
db: ./GEMINI/TT3CMP_S5.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT40_S15-20160101]
fastq1: ./FastQs/TT40_S15-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT40_S15-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT40_S15-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT40_S15-20160101.mutect.vcf
scalpel: ./Scalpel/TT40_S15-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT40_S15-20160101.freebayes.vcf
vardict: ./VarDict/TT40_S15-20160101.vardict.vcf
db: ./GEMINI/TT40_S15-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT40_S31-20160101]
fastq1: ./FastQs/TT40_S31-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT40_S31-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT40_S31-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT40_S31-20160101.mutect.vcf
scalpel: ./Scalpel/TT40_S31-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT40_S31-20160101.freebayes.vcf
vardict: ./VarDict/TT40_S31-20160101.vardict.vcf
db: ./GEMINI/TT40_S31-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT40_S15]
fastq1: ./FastQs/TT40_S15_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT40_S15_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT40_S15.recalibrated.sorted.bam
mutect: ./MuTect/TT40_S15.mutect.vcf
scalpel: ./Scalpel/TT40_S15.scalpel.vcf
freebayes: ./FreeBayes/TT40_S15.freebayes.vcf
vardict: ./VarDict/TT40_S15.vardict.vcf
db: ./GEMINI/TT40_S15.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT40_S7]
fastq1: ./FastQs/TT40_S7_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT40_S7_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT40_S7.recalibrated.sorted.bam
mutect: ./MuTect/TT40_S7.mutect.vcf
scalpel: ./Scalpel/TT40_S7.scalpel.vcf
freebayes: ./FreeBayes/TT40_S7.freebayes.vcf
vardict: ./VarDict/TT40_S7.vardict.vcf
db: ./GEMINI/TT40_S7.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT42_S16-20160101]
fastq1: ./FastQs/TT42_S16-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT42_S16-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT42_S16-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT42_S16-20160101.mutect.vcf
scalpel: ./Scalpel/TT42_S16-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT42_S16-20160101.freebayes.vcf
vardict: ./VarDict/TT42_S16-20160101.vardict.vcf
db: ./GEMINI/TT42_S16-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT42_S32-20160101]
fastq1: ./FastQs/TT42_S32-20160101_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT42_S32-20160101_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT42_S32-20160101.recalibrated.sorted.bam
mutect: ./MuTect/TT42_S32-20160101.mutect.vcf
scalpel: ./Scalpel/TT42_S32-20160101.scalpel.vcf
freebayes: ./FreeBayes/TT42_S32-20160101.freebayes.vcf
vardict: ./VarDict/TT42_S32-20160101.vardict.vcf
db: ./GEMINI/TT42_S32-20160101.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT42_S16]
fastq1: ./FastQs/TT42_S16_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT42_S16_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT42_S16.recalibrated.sorted.bam
mutect: ./MuTect/TT42_S16.mutect.vcf
scalpel: ./Scalpel/TT42_S16.scalpel.vcf
freebayes: ./FreeBayes/TT42_S16.freebayes.vcf
vardict: ./VarDict/TT42_S16.vardict.vcf
db: ./GEMINI/TT42_S16.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT42_S8]
fastq1: ./FastQs/TT42_S8_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT42_S8_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT42_S8.recalibrated.sorted.bam
mutect: ./MuTect/TT42_S8.mutect.vcf
scalpel: ./Scalpel/TT42_S8.scalpel.vcf
freebayes: ./FreeBayes/TT42_S8.freebayes.vcf
vardict: ./VarDict/TT42_S8.vardict.vcf
db: ./GEMINI/TT42_S8.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT4CMP_S14-20151207]
fastq1: ./FastQs/TT4CMP_S14-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT4CMP_S14-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT4CMP_S14-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT4CMP_S14-20151207.mutect.vcf
scalpel: ./Scalpel/TT4CMP_S14-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT4CMP_S14-20151207.freebayes.vcf
vardict: ./VarDict/TT4CMP_S14-20151207.vardict.vcf
db: ./GEMINI/TT4CMP_S14-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT4CMP_S6-20151207]
fastq1: ./FastQs/TT4CMP_S6-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT4CMP_S6-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT4CMP_S6-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT4CMP_S6-20151207.mutect.vcf
scalpel: ./Scalpel/TT4CMP_S6-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT4CMP_S6-20151207.freebayes.vcf
vardict: ./VarDict/TT4CMP_S6-20151207.vardict.vcf
db: ./GEMINI/TT4CMP_S6-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT4CMP_S2]
fastq1: ./FastQs/TT4CMP_S2_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT4CMP_S2_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT4CMP_S2.recalibrated.sorted.bam
mutect: ./MuTect/TT4CMP_S2.mutect.vcf
scalpel: ./Scalpel/TT4CMP_S2.scalpel.vcf
freebayes: ./FreeBayes/TT4CMP_S2.freebayes.vcf
vardict: ./VarDict/TT4CMP_S2.vardict.vcf
db: ./GEMINI/TT4CMP_S2.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT4CMP_S6]
fastq1: ./FastQs/TT4CMP_S6_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT4CMP_S6_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT4CMP_S6.recalibrated.sorted.bam
mutect: ./MuTect/TT4CMP_S6.mutect.vcf
scalpel: ./Scalpel/TT4CMP_S6.scalpel.vcf
freebayes: ./FreeBayes/TT4CMP_S6.freebayes.vcf
vardict: ./VarDict/TT4CMP_S6.vardict.vcf
db: ./GEMINI/TT4CMP_S6.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT4MP_S10-20151207]
fastq1: ./FastQs/TT4MP_S10-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT4MP_S10-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT4MP_S10-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT4MP_S10-20151207.mutect.vcf
scalpel: ./Scalpel/TT4MP_S10-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT4MP_S10-20151207.freebayes.vcf
vardict: ./VarDict/TT4MP_S10-20151207.vardict.vcf
db: ./GEMINI/TT4MP_S10-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT4MP_S2-20151207]
fastq1: ./FastQs/TT4MP_S2-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT4MP_S2-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT4MP_S2-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT4MP_S2-20151207.mutect.vcf
scalpel: ./Scalpel/TT4MP_S2-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT4MP_S2-20151207.freebayes.vcf
vardict: ./VarDict/TT4MP_S2-20151207.vardict.vcf
db: ./GEMINI/TT4MP_S2-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT4MP_S2]
fastq1: ./FastQs/TT4MP_S2_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT4MP_S2_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT4MP_S2.recalibrated.sorted.bam
mutect: ./MuTect/TT4MP_S2.mutect.vcf
scalpel: ./Scalpel/TT4MP_S2.scalpel.vcf
freebayes: ./FreeBayes/TT4MP_S2.freebayes.vcf
vardict: ./VarDict/TT4MP_S2.vardict.vcf
db: ./GEMINI/TT4MP_S2.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT4MP_S6]
fastq1: ./FastQs/TT4MP_S6_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT4MP_S6_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT4MP_S6.recalibrated.sorted.bam
mutect: ./MuTect/TT4MP_S6.mutect.vcf
scalpel: ./Scalpel/TT4MP_S6.scalpel.vcf
freebayes: ./FreeBayes/TT4MP_S6.freebayes.vcf
vardict: ./VarDict/TT4MP_S6.vardict.vcf
db: ./GEMINI/TT4MP_S6.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT5CMP_S15-20151207]
fastq1: ./FastQs/TT5CMP_S15-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT5CMP_S15-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT5CMP_S15-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT5CMP_S15-20151207.mutect.vcf
scalpel: ./Scalpel/TT5CMP_S15-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT5CMP_S15-20151207.freebayes.vcf
vardict: ./VarDict/TT5CMP_S15-20151207.vardict.vcf
db: ./GEMINI/TT5CMP_S15-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed

[TT5CMP_S7-20151207]
fastq1: ./FastQs/TT5CMP_S7-20151207_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT5CMP_S7-20151207_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT5CMP_S7-20151207.recalibrated.sorted.bam
mutect: ./MuTect/TT5CMP_S7-20151207.mutect.vcf
scalpel: ./Scalpel/TT5CMP_S7-20151207.scalpel.vcf
freebayes: ./FreeBayes/TT5CMP_S7-20151207.freebayes.vcf
vardict: ./VarDict/TT5CMP_S7-20151207.vardict.vcf
db: ./GEMINI/TT5CMP_S7-20151207.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT5CMP_S3]
fastq1: ./FastQs/TT5CMP_S3_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT5CMP_S3_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT5CMP_S3.recalibrated.sorted.bam
mutect: ./MuTect/TT5CMP_S3.mutect.vcf
scalpel: ./Scalpel/TT5CMP_S3.scalpel.vcf
freebayes: ./FreeBayes/TT5CMP_S3.freebayes.vcf
vardict: ./VarDict/TT5CMP_S3.vardict.vcf
db: ./GEMINI/TT5CMP_S3.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsA.bed

[TT5CMP_S7]
fastq1: ./FastQs/TT5CMP_S7_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT5CMP_S7_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT5CMP_S7.recalibrated.sorted.bam
mutect: ./MuTect/TT5CMP_S7.mutect.vcf
scalpel: ./Scalpel/TT5CMP_S7.scalpel.vcf
freebayes: ./FreeBayes/TT5CMP_S7.freebayes.vcf
vardict: ./VarDict/TT5CMP_S7.vardict.vcf
db: ./GEMINI/TT5CMP_S7.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed
