[TT5CMP_S7]
sample_name: TT5
target_pool: B
extraction: CMP
panel: TS15
fastq1: ./FastQs/TT5CMP_S7_L001_R1_001.fastq.gz
fastq2: ./FastQs/TT5CMP_S7_L001_R2_001.fastq.gz
bam: ./FinalBAMs/TT5CMP_S7.recalibrated.sorted.bam
mutect: ./MuTect/TT5CMP_S7.mutect.normalized.vcf
scalpel: ./Scalpel/TT5CMP_S7.scalpel.normalized.vcf
freebayes: ./FreeBayes/TT5CMP_S7.freebayes.normalized.vcf
vardict: ./VarDict/TT5CMP_S7.vardict.normalized.vcf
db: ./GEMINI/TT5CMP_S7.snpEff.GRCh37.75.db
regions: /mnt/shared-data/Resources/tst15-regionsB.bed
annotated_vcf: ./VCFAnno/TT5CMP_S7.vcfanno.snpEff.GRCh37.75.vcf
